* {
    background-color: #97C3B9;
    font-family: 'Quicksand'
}
body * {
    
    margin: auto;
    display: block;
}
body {
    width: 60%;
    margin: auto;
}
#card {
    padding-top: 2vw;
}
.input {
    width: 30%;
    color: #686868;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 1.7vw;
    background-color: white;
    margin-top: 5vw;
    padding: 10px;
    text-align: center;
}
input:-webkit-autofill {
    color: #686868;
    background-color: white;
}

#button {
    width: 10%;
    border: 2px solid #EF9F43;
    border-radius: 5px;
    font-size: 1vw;
    color: white;
    background-color: #EF9F43;
    padding: 8px;
}
#button:hover {
    background-color: #E18114;
    border: 2px solid #E18114;
}
h5 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2vw;
    color: white;
}
p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    color: white;
}
#card-image {
    margin: auto;
    padding: 20px;
}
#searchConfirm {
    text-align: center;
}