* {
    background-color: #97C3B9;
    font-family: 'Quicksand'
}
body * {
    background-color: #97C3B9;

    margin: auto;
    display: block;
}
body {
    background-color: #97C3B9;
    width: 60%;
    margin: auto;
}

/* Standard Styles */
.input {
    width: 40%;
    color: #686868;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 1.7vw;
    background-color: white;
    margin-top: 1.7vw;
    padding: 10px;
    text-align: center;
}
.getBooks {
    width: 30%;
    border: 2px solid #EF9F43;
    border-radius: 5px;
    font-size: 1.3vw;
    color: white;
    background-color: #EF9F43;
    padding: 8px;
    margin-top: 1vw;
}
#button {
    width: 20%;
    border: 2px solid #EF9F43;
    border-radius: 5px;
    font-size: 1.3vw;
    color: white;
    background-color: #EF9F43;
    padding: 8px;
}
#searchConfirm {
    text-align: center;
}
.bookCover {
    max-height: 200px;
    max-width: 160px;
}
.how-to {
    text-align: center;
    color: white;
    text-shadow: #686868;
    padding-top: 3vw;
    padding-bottom: 2vw;
}
.about {
    width: 80%;
}
.banner {
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-bottom: 1vw;
    padding: 0;
    font-size: 3.5vw;
    line-height: 3.5vw;
    text-decoration: none;
}
.banner:hover {
    color: #EF9F43;
}
#addBook {
    width: 30%;
    border: 2px solid #EF9F43;
    border-radius: 5px;
    font-size: 1.3vw;
    color: white;
    background-color: #EF9F43;
    padding: 8px;
}


/* Typography */
h1 {
    color: white;
    text-align: center;
    padding-top: 1vw;
    font-size: 3.5vw;
}
h2 {
    color: #4d5c56;
    text-align: center;
    font-size: 2vw;
}
h3 {
    color: #4d5c56;
}
h5 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2vw;
    color: white;
}
p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    color: white;
}

/* Nav Bar */
.nav {
    background-color: #97C3B9;
    padding: 1vw;
}
.nav-link {
    color: white;
}

/* User Authentication */
#email {
    width: 40%;
    color: #686868;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 1.7vw;
    background-color: white;
    padding: 10px;
    margin-top: 3vw;
    margin-bottom: 2vw;
    text-align: center;
}
#password {
    width: 40%;
    color: #686868;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 1.7vw;
    background-color: white;
    padding: 10px;
    text-align: center;
}
#authButton {
    width: 20%;
    border: 2px solid #EF9F43;
    border-radius: 5px;
    font-size: 1.1vw;
    color: white;
    background-color: #EF9F43;
    padding: 0;
    margin-top: 1vw;
}
#bypass {
    width: 20%;
    border: 2px solid #EF9F43;
    border-radius: 5px;
    font-size: 1.1vw;
    color: white;
    background-color: #EF9F43;
    padding: 0;
}
#anonymous-warning-label {
    color: #686868;
    font-size: 1vw;
    text-align: center;
    padding: .8vw;
}

/* Card Styles */
#card {
    padding-top: 2vw;
}
#card-body {
    width: 80%;
}
#card-shell {
    width: 90%;
}
#card-image {
    margin: auto;
    padding: 20px;
}
/* Hovers */
#button:hover {
    background-color: #E18114;
    border: 2px solid #E18114;
}

#authButton:hover {
    background-color: #E18114;
    border: 2px solid #E18114;
}
#bypass:hover {
    background-color: #E18114;
    border:
    2px solid #E18114;
}
.nav-link:hover {
    color: #00ffc3;
}

/* ----== MEDIA QUERIES ==---- */

@media screen and (orientation: portrait) {
    body {
        width: 100%;
        background-color: #97C3B9;

    }
    .input {
        width: 90%;
        font-size: 6vw;
        padding: 3vw;
        margin-bottom: 3vw;
    }
    #button {
        width: 90%;
        font-size: 5vw;
        margin-bottom: 3vw;
    }
    h1 {
        padding: 5vw;
        font-size: 5vw;
    }
    h2 {
        font-size: 3.5vw;
    }
    h3 {
        font-size: 4vw;
    }
    h5 {
        font-size: 5vw;
    }
    #searchConfirm {
        font-size: 4vw;
        margin-bottom: 3vw;
    }
    p {
        font-size: 3.5vw;
    }
    .bookCover {
        max-height: 35vw;
        max-width: 20vw;
    }
    #card-body {
        width: 100%;
    }
    .how-to {
        padding-top: 5vw;
    }
    .nav-link {
        font-size: 3.7vw;
    }
    .banner {
        font-size: 10vw;
        padding: 2vw;
    }
    .getBooks {
        width: 60%;
        border-radius: 5px;
        font-size: 3vw;
        padding: 8px;
        margin-top: 1vw;
    }
    /* User Authentication */
    #email {
        width: 80%;
        font-size: 5vw;
        padding: 10px;
        margin-top: 3vw;
        margin-bottom: 2vw;
    }
    #password {
        width: 80%;
        font-size: 5vw;
        padding: 10px;
        margin-bottom: 30px;
    }
    #authButton {
        width: 60%;
        font-size: 4vw;
        padding: 7px;
        margin-top: 15px;
    }
    #bypass {
        width: 60%;
        font-size: 4vw;
        padding: 7px;
    }
    #anonymous-warning-label {
        font-size: 3vw;
        padding: .8vw;
    }
    #addBook {
        width: 30%;
        border: 2px solid #EF9F43;
        border-radius: 5px;
        font-size: 3vw;
        color: white;
        background-color: #EF9F43;
        padding: 8px;
    }
}
@media screen and (orientation: landscape) and (max-width: 1000px) {
    body {
        width: 100%;
        background-color: #97C3B9;
    }
    .input {
        width: 80%;
        font-size: 4vw;
    }
    #button {
        width: 80%;
        font-size: 3vw;
    }
    #searchConfirm {
        font-size: 2.5vw;
    }
    h5 {
        font-size: 4vw;
    }
    p {
        font-size: 3vw
    }

    .nav-link {
        font-size: 3vw;
    }
    .getBooks {
        width: 60%;
        border-radius: 5px;
        font-size: 3vw;
        padding: 8px;
        margin-top: 1vw;
    }
    .banner {
        font-size: 5vw;
    }

    #addBook {
        width: 30%;
        border: 2px solid #EF9F43;
        border-radius: 5px;
        font-size: 2vw;
        color: white;
        background-color: #EF9F43;
        padding: 8px;
    }

    /* User Authentication */
    #email {
        width: 80%;
        font-size: 3vw;
        padding: 10px;
        margin-top: 3vw;
        margin-bottom: 2vw;
    }
    #password {
        width: 80%;
        font-size: 3vw;
        padding: 10px;
        margin-bottom: 30px;
    }
    #authButtonGroup {
        margin: auto;
        width: 60%;
        display: flex;
    }
    #authButton {
        justify-content: center;
        display: inline-flex;
        width: 20%;
        font-size: 2vw;
        padding: 7px;
        margin: auto;
    }
    #bypass {
        width: 40%;
        font-size: 2vw;
        padding: 7px;
    }
    #anonymous-warning-label {
        font-size: 3vw;
        padding: .8vw;
    }
}